<!DOCTYPE html>
<html>
<head>
    <style>
        div.container{
            width:100%;
            border: 1px blue;
        }
        header, footer {
            padding: .009em;
            color: white;
            background-color: blueviolet;
            clear:right;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 0;
        }

        nav ul {
            list-style-type: square;
            padding: 0em;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 0px;
            border-left: 1px solid gray;
            padding:0;
            overflow: hidden;
        }
    </style>


<body>
<header><h1>Adopt don't shop, But if you shop, do research </h1></header>
</body>