<%- include("../includes/header.ejs", {title:"Shelters - All"}); %>

<h1 align="center">Shelters</h1>

<br />

<%= %>

<p align="center"><u>Current Shelters:</u></p>
<table align="center" border="1">
    <tr><th>Shelter Name</th><th>Number of Animals</th><th>Actions</th>
        <col width="180">
        <col width="75">

        <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><%= result[i].shelter_name %></td>
        <td align="center"><%= result[i].num_animals%></td>
        <td align="center">
            <form action="/shelter/delete/" style="display:inline;" onclick="return confirm('Are you sure you want to delete <%= result[i].shelter_name %> from the database?');" >
                <input type="hidden" name="shelter_id" id="shelter_id" value="<%= result[i].shelter_id %>" />
                <input type="submit" value="Delete Entry"/>
            </form>
        </td>
    </tr>
    <% } %>

</table>

<br />

<a href="/shelter/add"><p style="text-align:center">Add a New Shelter to the Database</p></a>

<a href="/"><p style="text-align:center">Back to Home</p></a>

<%- include("../includes/footer.ejs"); %>