<%- include("../includes/header.ejs", {title:"Add New Shelter"}); %>
<h1 align="center">Add New Shelter</h1>

<form action="/shelter/insert" method="get">
<p align="center">
    <input type="hidden" id="shelter_id" name="shelter_id" value="<%= result.shelter_id %>">
    Shelter Name: <input id="shelter_name" name="shelter_name" type="text" />
    <br />
    Number of Animals: <input id="num_animals" name="num_animals" type="text"/>
    <br/>


    <input type="submit" onclick="return alert('Submission Successful!');" />
</form>
</p>
<br />
<p align="center">
<a href="/shelter/all">~ Go Back</a>
</p>
<%- include("../includes/footer.ejs"); %>