<%- include("./includes/header.ejs", {title: title}); %>

<p style="text-align:center">
  Welcome to Doggy Adoption. This website allows the shelters breeders
  and customers to look at all of the animals that are in the database. This
  website helps out customers who are looking for dogs. They can choose from
  shelters or breeders or just look at the animals by themselves. This is also
  helpful for shelters because they are able to see other information of other
  shelters so if they are having over crowding in one shelter they can see if
  another shelter that has a low capacity of animals is available to take in the
  animal until it is adopted. For the breeders, this is mainly just a place where
  they can post how many animals each of them how and what breed they have at each
  breeder. The over goal of this website is to help some sad puppies and happy puppies
  find a wonderful and perfectly fit family.
</p>

<p align="center">
<a href="/customer/all">Customers - View All</a>
  <br/>
  <a href="shelter/all">Shelters - View All</a>
  <br/>
  <a href="animal/all">Animals - View All</a>
  <br/>
  <a href="breeder/all">Breeders - View All</a>

<br />
<br />
  <a href="/images/er.jpg">My ER Diagram</a>
  <br/>
  <a href="/images/functional.jpg">Functional Dependency</a>
  <br />
  <a href="/images/relational.jpg">Relational Schema</a>
<%- include("./includes/footer.ejs"); %>
