<%- include("../includes/header.ejs", {title:"Add New Breeder"}); %>
<h1 align="center">Add New Breeder</h1>

<form action="/breeder/insert" method="get">
    <p align="center">
        <input type="hidden" id="breeder_id" name="breeder_id" value="<%= result.breeder_id %>">
        Breeder Name: <input id="breeder_name" name="breeder_name" type="text" />
        <br />
        Breed: <input id="breed" name="breed" type="text"/>
        <br/>
        Number of Animals: <input id="num_animals" name="num_animals" type="text"/>


        <input type="submit" onclick="return alert('Submission Successful!');" />
</form>
</p>
<br />
<p align="center">
    <a href="/breeder/all">Go Back</a> </p>
<%- include("../includes/footer.ejs"); %>