<%- include("../includes/header.ejs", {title:"Breeders - All"}); %>

<h1 align="center">Breeders</h1>

<br />

<%= %>

<p align="center"><u>Current Breeders:</u></p>
<table align="center" border="1">
    <tr><th>Breeder Name</th><th>Breed</th><th>Number of Animals</th><th>Actions</th>
        <col width="180">
        <col width="75">

        <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><%= result[i].breeder_name %></td>
        <td align="center"><%= result[i].breed%></td>
        <td align="center"><%= result[i].num_animals%></td>
        <td align="center">
            <form action="/breeder/delete/" style="display:inline;" onclick="return confirm('Are you sure you want to delete <%= result[i].breeder_name %> from the database?');" >
                <input type="hidden" name="breeder_id" id="breeder_id" value="<%= result[i].breeder_id %>" />
                <input type="submit" value="Delete Entry"/>
            </form>
        </td>
    </tr>
    <% } %>

</table>

<br />

<a href="/breeder/add"><p style="text-align:center">Add a New Breeder to the Database</p></a>

<a href="/"><p style="text-align:center">Back to Home</p></a>

<%- include("../includes/footer.ejs"); %>