<%- include("../includes/header.ejs", {title:"Customer - All"}); %>

<h1 align="center">Customers</h1>

<br />

<%= %>

<p align="center"><u>Current Customers:</u></p>
<table align="center" border="1">
    <tr><th>Customer Name</th><th>Phone Number</th><th>Actions</th>
        <col width="180">
        <col width="75">

        <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><%= result[i].first_name %> <%= result[i].last_name%></td>
        <td align="center"><%= result[i].phone_number%></td>
        <td align="center">
            <form action="/customer/delete/" style="display:inline;" onclick="return confirm('Are you sure you want to delete <%= result[i].first_name %> from the database?');" >
                <input type="hidden" name="customer_id" id="customer_id" value="<%= result[i].customer_id %>" />
                <input type="submit" value="Delete Entry"/>
            </form>
        </td>
    </tr>
    <% } %>

</table>

<br />

<a href="/customer/add"><p style="text-align:center">Add a New customer to the Database</p></a>

<a href="/"><p style="text-align:center">Back to Home</p></a>

<%- include("../includes/footer.ejs"); %>