<%- include("../includes/header.ejs", {title:"Add New Customer"}); %>
<h1 align="center">Add New Customer</h1>

<form action="/customer/insert" method="get">
<p align="center">
    <input type="hidden" id="customer_id" name="customer_id" value="<%= result.customer_id %>">
    First Name: <input id="first_name" name="first_name" type="text" />
    <br />
    Last Name: <input id="last_name" name="last_name" type="text"/>
    <br />
    Phone Number: <input id="phone_number" name="phone_number" type="text"/>
    <br/>


    <input type="submit" onclick="return alert('Submission Successful!');" />
</form>
</p>
<br />
<p align="center">
    <a href="/customer/all">Go Back</a> </p>
<%- include("../includes/footer.ejs"); %>