<%- include("../includes/header.ejs", {title:"Animals - All"}); %>

<h1 align="center">Animals</h1>

<br />

<%= %>

<p align="center"><u>Current Animals:</u></p>
<table align="center" border="1">
    <tr><th>Name</th><th>Age</th><th>Breed</th><th>Gender</th><th>Actions</th>
        <col width="180">
        <col width="75">

        <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td align="center"><%= result[i].name %></td>
        <td align="center"><%= result[i].age%></td>
        <td align="center"><%= result[i].breed%></td>
        <td align="center"><%= result[i].gender%></td>
        <td align="center">
            <form action="/animal/delete/" style="display:inline;" onclick="return confirm('Are you sure you want to delete <%= result[i].animal_name %> from the database?');" >
                <input type="hidden" name="animal_id" id="animal_id" value="<%= result[i].animal_id %>" />
                <input type="submit" value="Delete Entry"/>
            </form>
        </td>
    </tr>
    <% } %>

</table>

<br />

<a href="/animal/add"><p style="text-align:center">Add a New Animal to the Database</p></a>

<a href="/"><p style="text-align:center">Back to Home</p></a>

<%- include("../includes/footer.ejs"); %>