<%- include("../includes/header.ejs", {title:"Add New Animal"}); %>
<h1 align="center">Add New Animal</h1>

<form action="/animal/insert" method="get">
    <p align="center">
        <input type="hidden" id="animal_id" name="animal_id" value="<%= result.animal_id %>">
        Name: <input id="name" name="name" type="text" />
        <br />
        Age: <input id="age" name="age" type="age"/>
        <br />
        Breed: <input id="breed" name="breed" type="text"/>
        <br/>
        Gender: <input id="gender" name="gender" type="text"/>


        <input type="submit" onclick="return alert('Submission Successful!');" />
</form>
</p>
<br />
<p align="center">
    <a href="/animal/all">Go Back</a> </p>
<%- include("../includes/footer.ejs"); %>